<!DOCTYPE html>
<html>
<head>
  <title>Scraper</title>
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.min.css" media="all">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css" media="all">
  <style>
    .flexbox {
      display: flex;
      justify-content: center;
    }
    .fixed {
      width: 200px;
    }
    .flexible {
      flex: 1;
    }
    .grid-container {
      max-width: 55rem;
      margin: 0 auto;
    }
    .top-margin-24 {
      margin-top: 24px;
    }
    .red {
      color: red;
    }
  </style>
</head>
<body>
<div class="top-bar">
  <div class="top-bar-left">
    <ul data-dropdown-menu="" class="dropdown menu">
      <li class="menu-text">一覧ページ検索用クローラー</li>
    </ul>
  </div>
</div>
<div id="crawler" class="grid-container">
