<%- include('layout_header') %>
<div id="app">
    <form method="post">
        <% /* url入力欄 */ %>
        <div class="flexbox">
            <div class="row flexible">
                <div class="small-3 columns">
                    <label for="right-label" class="text-left">URL</label>
                </div>
                <div class="small-9 columns">
                    <input id="right-label" type="text" name="url" class="j-url" required="" value="https://www.google.co.jp/"/>
                </div>
            </div>
        </div>
        <div class="flexbox">
            <select name="schedule" class="select-action" >
                <option value="month">一ヶ月に一回(月初)</option>
                <option value="week">1週間に一回(毎週月曜の朝)</option>
                <option value="day">1日に一回(毎日2時)</option>
            </select>
        </div>
        <% /* url入力欄ここまで */ %>
        <hr/>
        <p class="red">項目は全て入力して下さい。</p>
        <% /* 項目入力欄 */ %>
        <div class="flexbox">
            <div class="fixed ">
                <label for="">項目名
                    <input type="text" v-model="new_config.column">
                </label>
            </div>
            <div class="fixed">
                <label for="">動作
                    <select class="select-action" v-model="new_config.action">
                        <option value="click">クリックする</option>
                        <option value="check">チェックする</option>
                        <option value="enter">入力する</option>
                        <option value="scraping">スクレイピングする</option>
                    </select>
                </label>
            </div>

            <div class="flexible">
                <label for="">query
                    <input type="text" v-model="new_config.query">
                </label>
            </div>

            <div class="flexible" v-if="new_config.action =='enter'">
                <label for="">入力内容
                    <input type="text" name="column[inputs][]" v-model="new_config.input">
                </label>
            </div>
            <div>
                <a class="button success top-margin-24" v-on:click="add(new_config)">追加</a>
            </div>
        </div>
        <% /* 項目入力欄ここまで */ %>
        <p> 下に追加されたデータでクローリングが実行されます。</p>
        <hr/>
        <% /* ループして表示するための所 */ %>
        <div class="flexbox" v-for="config in configs">
            <div class="fixed ">
                <label for="">項目名
                    <input type="text" name="column[name][]" v-model="config.column">
                </label>
            </div>
            <div class="fixed">
                <label for="">動作
                     <select name="column[actions][]" class="select-action">
                         <option v-for="action in action_select_options" value="{{ action.value }}" v-bind:selected="action.value == config.action ">
                             {{ action.label}}
                         </option>
                    </select>
                </label>
            </div>
            <div class="flexible query">
                <label for="">query
                    <input type="text" name="column[query][]" v-model="config.query" >
                </label>
            </div>
            <div class="flexible query" v-if="config.action.indexOf('type') !== -1 ">
                <label for="">入力内容
                    <input type="text" name="column[input][]" v-model="config.input" >
                </label>
            </div>
            <div>
                <a class="button top-margin-24" v-on:click="remove(config)">削除</a>
            </div>
        </div>
        <% /* ループして表示するための所ここまで */ %>
        <!--<button class="button expanded secondary" v-on:click="prevent_double_send()" v-bind:disabled="isActive">スクレイピングを実行する</button>-->
        <a class="button expanded secondary" v-on:click="send()">スクレイピングを実行する</a>
    </form>
</div>
<% /* モーダルの中身 */ %>
<div class="remodal-bg"></div>
<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h3>クローリング結果</h3>
        <table>
            <tbody class='j-append-result'>
            </tbody>
        </table>
    <br>
    <button data-remodal-action="cancel"  class="remodal-cancel">修正する</button>
    <button data-remodal-action="confirm" v-on:click="save()"  class="remodal-confirm">保存する</button>
</div>
<% /* モーダルの中身ここまで */ %>

<%- include('layout_footer') %>
<script type="text/javascript">
    const scraping_configs = [
        {
            column: '初期値入力',
            action : 'enter',
            input : 'aaa',
            query  : 'ssss'
        },{
            column: '初期値入力2',
            action: 'enter',
            input: 'fafa',
            query: 'ssss'
        }
    ];

    let app = new Vue({
        el: '#app',
        data : {
            new_config : {
                column: '',
                action : '',
                input : '',
                query : ''
            },
            configs : [
            {
                column: '検索ワード入力',
                action : 'type',
                query  : "form[action=\'/search\']",
                input: "php求人"
            },{
                column: '検索ボタン押す',
                action: 'click',
                query: 'form[action*=\'/search\'] [type=submit]'
            }
            ,{
                column: 'スクレイピング実行',
                action: 'snatch',
                    //*[@id="rso"]/div/div/div[9]/div/div/h3/a
                    // #rso > div > div > div:nth-child(9) > div > div > h3 > a
                query: '._NId h3 a'
            }
            ,{
                column: 'ページ遷移',
                action: 'click',
                query: 'table#nav > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > a.fl:nth-child(1) > span.csb.ch:nth-child(1)'
            },{
                column: 'スクレイピング実行',
                action: 'snatch',
                query: '._NId h3 a'
            }],
            selected: '',
            action_select_options : [
                {label : 'クリックする',value:'click'},
                {label : 'チェックする',value:'check'},
                {label : '入力する',value:'type'},
                {label : 'スクレイピングする',value:'snatch'},
            ],
            isActive: false,
            results :['ruby求人とか', 'ruby求人とか', 'ruby求人とか']
        },
        methods: {
            add: function () {
                // validation 値に空のモノがあったら入れられないようにする
                if (this.new_config.action === '' || this.new_config.column === ''  || this.new_config.query === '') {
                    return;
                    //  動作が入力を選択されている場合
                    if (this.new_config.action === 'enter'){
                        if (this.new_config.input === ''){
                            return;
                        }
                    }
                }
                this.configs.push(this.new_config);
                this.new_config = {
                    action: '',
                    column: '',
                    input : '',
                    query : ''
                };
            },
            remove : function (config) {
                for (var config_i = 0; config_i < this.configs.length; config_i++) {
                    console.dir(this.configs[config_i].toString());
                    console.dir(config.toString());
                    if(this.configs[config_i].toString() === config.toString()) {
                        this.configs.splice(0,config_i);
                    }
                }
            },
            send() {
                // todo:二重送信防止
                // this.isActive = true;

                // スクレイピングが成功した時に結果を表示する
                function successProcess(scraped_result) {
                    console.log(scraped_result);
                    $('[data-remodal-id=modal]').remodal();
                }

                // スクレイピング失敗した時にどこで落ちてるか表示してあげる
                function failProcess(error) {
                    console.log(error);
                }

                $.post({
                    url  : '/crawl_site',
                    data : {
                        'url'      : $('.j-url').val(),
                        'schedule' : $('.select-action').val(),
                        'config'   : this.configs,
                    },
                    dataType : 'json'
                }).done(function (results) {
                    let designedResults = results.map((result)=>{
                        return ('<tr><td>'+result+'</td></tr>');
                    });

                    $('.j-append-result').append(designedResults.join());
                    // modalの中身を取得したデータに書き換える
                    let modal = $('[data-remodal-id=modal]').remodal();
                    modal.open();
                }).fail(function (error) {
//                    failProcess(error);
                });
            },
            // モーダル確認ボタンが押された時の処理
            save(){
                $.post({
                    url  : '/save',
                    data : {
                        'url'      : $('.j-url').val(),
                        'schedule' : $('.select-action').val(),
                        'config'   : this.configs,
                    },
                    dataType : 'json'
                }).done(
                    location.href('/')
                ).fail(
                    alert('保存に失敗しました。システム責任者にお問い合せ下さい')
                );
            }
        }
    });

    // vueで書きたい
    $(function(){
        $("input"). keydown(function(e) {
            if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                return false;
            } else {
                return true;
            }
        });
    });
</script>
</html>
